/*body{
    margin:80px 0 60px 0;
}
#head{
    border-bottom:1px solid #cccccc;
    width:100%;
    display: table;
    position:absolute;
    top:0px;
}
#head span{
    padding-left:100px;
    width:100px;
    height:60px;
    line-height:60px;
    text-decoration: none;
}
#head a{
    width:100px;
    height:60px;
    line-height:60px;
    padding-right:10px;
    text-decoration: none;
    float:right;
}*/

.title{
    text-align: center;
    margin-top: 100px;
}

.form-group{
    width:100%;
    margin:5px;
}

.form-group label{
    display: inline-block;
    width: 200px;
    margin-right:3px;
    text-align: right;
}

.form-group input{
    display: inline-block;
    width: 290px!important;
    margin: 10px;
}

.form-group button{
    width: 150px!important;
    margin-right: 3px;
    text-align: center;
    margin-left: 208px;
}

#foot{
    border-top: 1px solid #CCCCCC;
    background-color: black;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
}

#foot p{
    text-align: center;
    color: #CCCCCC;
    margin-top: 15px;
}

.table{
    margin: 10px 5% 5%;
    border-collapse: collapse;
    width: 90%;
    border: 2px solid black;
}

thead tr td{
    font-weight:bold;
}

#userRegistration, #userLogin {
	text-align: center;
	margin-right: 165px;
	margin-top: 80px;
}

#newAppointment, #editAppointment {
    text-align: left;
}

#newAppointmentButton, #editAppointmentButton {
    text-align: left;
    margin-left: 13px;
}

#newProperty, #editProperty {
    text-align: left;
}

#newPropertyButton, #editPropertyButton {
    text-align: left;
    margin-left: 14px;
}

#newPropertyStatus, #editPropertyModel, #editPropertyStatus, #editPropertySubdivision {
    text-align: left;
    margin-left: 11px;
}

#newItem, #editItem {
    text-align: left;
}

#newItemButton, #editItemButton {
    text-align: left;
    margin-left: 14px;
}
#newItemType, #newItemStandard, #newItemManufacturer, #editItemManufacturer, #editItemStandard, #editItemType {
    text-align: left;
    margin-left: 11px;
}

#newClient, #editClient {
    text-align: left;
}

#newClientButton, #editClientButton {
    text-align: left;
    margin-left: 13px;
}